<a href="https://colab.research.google.com/github/Dinoryong/hanaro01/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 판다스 자료 구조

## 시리즈

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# 딕셔너리 생성 = 키와 값으로 구성
test_dict = {
    'a': 1,
    'b': 2,
    'c': 3
}
print(test_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# 딕셔너리를 시리즈로 변환
sr = pd.Series(test_dict)
print(sr)
# 시리즈의 값은 정수

a    1
b    2
c    3
dtype: int64

In [ ]:
print(type(sr))

<class 'pandas.core.series.Series'>

## 인덱스

In [ ]:
# 이름 = 인덱스 이름 / 라벨
test_dict = {
    'a': 1,
    'b': 2,
    'c': 3
}
print(test_dict)
sr = pd.Series(test_dict)
# 인덱스 확인
print(sr.index)
# 데이터 타입이 object = 문자
# 인덱스 이름 = a, b, c

{'a': 1, 'b': 2, 'c': 3}
Index(['a', 'b', 'c'], dtype='object')

In [ ]:
# 시리즈가 가진 값이 궁금할때
print(sr.values)
# 딕셔너리의 키 => 인덱스 이름이 됨
# 딕셔너리의 값 => 시리즈의 값이 됨(숫자 int)

[1 2 3]

In [ ]:
# 숫자 = 정수형 위치 인덱스
# 리스트 생성
# 기본자료형 = 문자열, 숫자열, 불(Bool)
test_list = ["Hello", 23, 3.14, True]
print(test_list)

['Hello', 23, 3.14, True]

In [ ]:
# 리스트를 시리즈로 변환
sr = pd.Series(test_list)
print(sr)

0    Hello
1       23
2     3.14
3     True
dtype: object

In [ ]:
# 인덱스 확인
print(sr.index)
# 값 확인
print(sr.values)
# 리스트의 인덱스가 => 인덱스 숫자가 되었다
# 리스트의 요소 => 값이 되고 => 기본자료형이 됨
 # Range(정수) : (시작번호, 끝번호-1)

RangeIndex(start=0, stop=4, step=1)
['Hello' 23 3.14 True]

# 원소 선택

In [ ]:
# 인덱스 사용법
# 튜플 생성
# 리스트와 유사
# 차이점 : 소괄호 사용, 원소(개별 값) 변경 불가
# 기본자료형
test_tuple = ("정대만", 184, 73.5, True)
print(test_tuple)

('정대만', 184, 73.5, True)

In [ ]:
# 튜플을 시리즈로 변환
sr = pd.Series(test_tuple, index = ['이름', '키', '체중', '불꽃남자'])
print(sr)

이름       정대만
키        184
체중      73.5
불꽃남자    True
dtype: object

In [ ]:
# 하나의 원소 선택
# 숫자로 하나의 원소를 선택
print(sr[0]) # 이름
print(sr[1]) # 키
print(sr[2]) # 체중
print(sr[3]) # 불꽃남자

정대만
184
73.5
True

In [ ]:
# 이름으로 하나의 원소를 선택
print(sr['이름']) # 이름
print(sr['키']) # 키
print(sr['체중']) # 체중
print(sr['불꽃남자']) # 불꽃남자

정대만
184
73.5
True

In [ ]:
# 여러 개의 원소 선택 = 리스트 형태로 입력해야 함
# 숫자
print(sr[[0,3]]) # 이름 ,불꽃남자
print(sr[[0,3]]) # 키, 불꽃남자
#이름
print(sr[['이름', '체중']])
print(sr[['키', '불꽃남자']])

이름       정대만
불꽃남자    True
dtype: object
이름       정대만
불꽃남자    True
dtype: object
이름     정대만
체중    73.5
dtype: object
키        184
불꽃남자    True
dtype: object

In [ ]:
# 범위를 지정하여 여러개의 원소 선택 = 슬라이싱
# 숫자 = 끝 번호 포함하지 않음
print(sr[0:2]) # 이름, 키를 뽑기
print(sr[0:1+1]) # 위와 같음
print(sr[1:4]) # 키, 체중, 불꽃남자
print(sr[1:3+1]) # 위와 같음

# 이름
print(sr['이름':'키']) # 이름, 키
print(sr['키':'불꽃남자']) # 키, 체중, 불꽃남자

## 데이터프레임

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# 딕셔너리 = 키 & 여러 개의 값 (리스트 형태)
test_dict = {
    'c1' : [1,2,3],
    'c2' : [4,5,6],
    'c3' : [7,8,9],
    'c4' : [10,11,12]
}
print(test_dict)

{'c1': [1, 2, 3], 'c2': [4, 5, 6], 'c3': [7, 8, 9], 'c4': [10, 11, 12]}

In [ ]:
# 딕셔너리를 데이터 프레임으로 변환
df = pd.DataFrame(test_dict)
print(df)
print(type(df))
# 딕셔너리의 키 = 데이터프레임의 열 이름
# 딕셔너리의 값 = 데이터프레임의 열 값
# 딕셔너리의 값 = 리스트의 요소 개수 = 행 인덱스

   c1  c2  c3  c4
0   1   4   7  10
1   2   5   8  11
2   3   6   9  12
<class 'pandas.core.frame.DataFrame'>

## 인덱스

In [ ]:
# 행 인덱스와 열 이름 설정하여 데이터프레임 생성
df = pd.DataFrame( [["정대만", 19, 184],
                    ["서태웅", 17, 187]], 
                  index = ['선수1', '선수2'],  # 행 인덱스
                  columns = ['이름', '나이', '키'] ) # 열 이름 
print(df)

      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  187

In [ ]:
# 행 인덱스 확인
print(df.index)

# 열 이름 확인
print(df.columns)

Index(['선수1', '선수2'], dtype='object')
Index(['이름', '나이', '키'], dtype='object')

In [ ]:
# 행 인덱스, 열 이름 => 이름 변경
df.index = ['학생1', '학생2']
df.columns = ['성명', '연령', '신장']
print(df)

      성명  연령   신장
학생1  정대만  19  184
학생2  서태웅  17  187

In [ ]:
# 메소드 : 클래스 내의 함수
# 행 인덱스, 열이름 => 이름 변경
# rename 메소드 함수에 의해 반환되는 값은 새로운 데이터프레임
df_new = df.rename(index = {'학생1': '선수1', '학생2': '선수2'})
print(df)
print(df_new)

      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  187
      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  187

In [ ]:
# 원본을 바로 변경하고자 할땐 rename메소드와 inplace를 사용한다
print(df) # 변경 전 모습
df.rename(index = {'학생1': '선수1', '학생2': '선수2'}, inplace = True)
print(df) # 변경 후 모습

      성명  연령   신장
학생1  정대만  19  184
학생2  서태웅  17  187
      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  187

In [ ]:
df_new = df.rename(columns = {'성명': '이름', 
                              '연령': '나이', 
                              '신장': '키'})
print(df)
print(df_new)

      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  187
      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  187

In [ ]:
# 원본을 바로 변경(열이름)
print(df) # 변경 전 모습
df.rename(columns = {'성명': '이름', 
                  '연령': '나이', 
                  '신장': '키'}, inplace = True)
print(df) # 변경 후 모습

      성명  연령   신장
선수1  정대만  19  184
선수2  서태웅  17  187
      이름  나이    키
선수1  정대만  19  184
선수2  서태웅  17  187

### 행과 열 삭제

In [ ]:
# drop 메소드 함수 반환 결과는 새로운 데이터프레임
score_dict = {
    'point3': [24, 3, 9],
    'point2': [6, 4, 18],
    'ft': [3, 1, 6]
}
print(score_dict)

{'point3': [24, 3, 9], 'point2': [6, 4, 18], 'ft': [3, 1, 6]}

In [ ]:
df = pd.DataFrame(score_dict, index = ['정대만', '강백호', '서태웅'])
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
df1 = df[:]
print(df1)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# drop 메소드 함수 반환 결과는 새로운 데이터 프레임
# 행 삭제 => axis = 0
print(df1) # 변경 전
df2 = df1.drop('강백호', axis = 0)
print(df2) # 변경 후 = 새로운 데이터프레임

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
서태웅       9      18   6

In [ ]:
print(df1) # 변경 전
df1.drop('강백호', axis = 0 , inplace = True)
print(df1) # 변경 후 = df1

In [ ]:
# 사본 저장
df1 = df[:]
# 열 삭제 => axis = 1
print(df1) # 변경 전
df2 = df1.drop('강백호', axis = 0)
print(df2) # 변경 후 = 새로운 데이터프레임
print(df1) # 변경 전

# inplace = True를 사용하면 원본이 변경된다
df1.drop('ft', axis = 1 , inplace = True)
print(df1) # 변경 후 = df1

In [ ]:
# 여러 개의 행, 열 삭제 => 리스트로 묶어서 삭제한다
# 사본 저장
df1 = df[:]
print(df1) # 변경 전

# 여러 개의 행을 삭제
df1.drop(['강백호', '서태웅'], axis = 0, inplace = True)
print(df1) # 변경 후

# 사본 저장
df1 = df[:]
print(df1) # 변경 전

# 여러 개의 열을 삭제
df1.drop(['point2','ft'], axis = 1, inplace = True)
print(df1) # 변경 후

## 행 선택

In [ ]:
# 딕셔너리 생성
score_dict = {
    'point3': [24, 3, 9],
    'point2': [6, 4, 18],
    'ft': [3, 1, 6]
}
print(score_dict)

In [ ]:
# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(score_dict, index = ['정대만', '강백호', '서태웅'])
print(df)

In [ ]:
# loc 인덱서 = 이름
print(df.loc['정대만']) # 시리즈 (대괄호 한번)
print(df.loc[['정대만']]) # 데이터프레임 (대괄호 두번)

point3    24
point2     6
ft         3
Name: 정대만, dtype: int64
     point3  point2  ft
정대만      24       6   3

In [ ]:
# iloc 인덱서 = 숫자
print(df.iloc[0]) #시리즈 
print(df.iloc[[0]]) # 데이터프레임

In [ ]:
# 여러 개의 행 선택

print(df.loc[['정대만','서태웅']]) # 데이터프레임 (대괄호 두번)
print(df.iloc[[0,2]]) # 데이터프레임

     point3  point2  ft
정대만      24       6   3
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
서태웅       9      18   6

In [ ]:
# 여러 개의 행 선택 (범위 지정 = 슬라이싱)

print(df.loc['강백호':'서태웅']) # 데이터프레임 (대괄호 두번)
print(df.iloc[0:1+1]) # 데이터프레임

     point3  point2  ft
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1

### 열 선택

In [ ]:
# 열 선택하는 방법 3가지
# 열 하나 선택
print(df['point3']) # 시리즈
print(df[['point3']]) # 데이터프레임
print(df.point3) # 시리즈

# 여러개의 열 선택
print(df[['point3', 'ft']]) # 데이터프레임

정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
     point3
정대만      24
강백호       3
서태웅       9
정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
     point3  ft
정대만      24   3
강백호       3   1
서태웅       9   6

### 원소 선택

In [ ]:
# = 행과 열을 동시에 선택
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# 행만 선택
print(df.loc['정대만'])
print(df.iloc[0])

point3    24
point2     6
ft         3
Name: 정대만, dtype: int64
point3    24
point2     6
ft         3
Name: 정대만, dtype: int64

In [ ]:
# 열만 선택 [행,열] = 모든 행을 선택

print(df.loc[:,'point3'])
print(df.iloc[:,0])

정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64
정대만    24
강백호     3
서태웅     9
Name: point3, dtype: int64

In [ ]:
# 행과 열을 동시에 선택
print(df.loc['정대만' ,'point3'])
print(df.iloc[0,0])

24
24

In [ ]:
# 여러 개의 행과 하나의 열을 선택
print(df.loc[['정대만', '서태웅'],'point2'])
print(df.iloc[[0,2], 1])

정대만     6
서태웅    18
Name: point2, dtype: int64
정대만     6
서태웅    18
Name: point2, dtype: int64

In [ ]:
# 하나의 행과 여러 개의 열 선택
print(df.loc['정대만',['point3','ft']])
print(df.iloc[0,[0,2]])

point3    24
ft         3
Name: 정대만, dtype: int64
point3    24
ft         3
Name: 정대만, dtype: int64

In [ ]:
# 여러 개의 행과 여러 개의 열 선택
print(df.loc[['정대만', '서태웅'],['point3','ft']])
print(df.iloc[[0,2], [0,2]])

     point3  ft
정대만      24   3
서태웅       9   6
     point3  ft
정대만      24   3
서태웅       9   6

In [ ]:
# 여러 개의 행과 여러 개의 열 선택 (by slicing)
print(df.loc['정대만':'서태웅','point3':'ft'])
print(df.iloc[0:2+1, 0:2+1])

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6
     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

### 열 추가

In [ ]:
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# 전부 같은 값을 가진 열 추가
df['foul'] = 2
print(df)

     point3  point2  ft  foul
정대만      24       6   3     2
강백호       3       4   1     2
서태웅       9      18   6     2

In [ ]:
# 다른 값을 가진 열을 추가 = 리스트 형태로..
df['rebound'] = [1, 10, 5]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5

### 행 추가

In [ ]:
# 행 3* 열 5
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5

In [ ]:
# 전부 같은 값을 가진 행 추가
df.loc['채치수'] = 0
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        0

In [ ]:
# 다른 값을 가진 행 추가 = 리스트 형태
df.loc['송태섭'] = [3,10, 6, 3, 0]
print(df)

### 원소 값 변경

In [ ]:
# 행과 열을 동시에 선택해서 값을 변경
print(df)
# 행 5개 * 열 5개

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        0
송태섭       3      10   6     3        0
합계       78      76  32    18       32

In [ ]:
# 하나의 행과 하나의 열을 선택하여 값 변경
df.loc['채치수','rebound'] = 5
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        5
송태섭       3      10   6     3        0
합계       78      76  32    18       32

In [ ]:
df.iloc[4,4] = 1
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        5
송태섭       3      10   6     3        1
합계       78      76  32    18       32

In [ ]:
# 하나의 행과 여러 개의 열을 선택하여 값 변경
df.loc['채치수', ['point2', 'foul']] = 2
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       2   0     2        5
송태섭       3      10   6     3        1
합계       78      76  32    18       32

In [ ]:
df.iloc[3, [1, 3]] = 4
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   1.0   2.0     10.0  NaN  NaN
서태웅     9.0    18.0   6.0   2.0      5.0  NaN  NaN
채치수     0.0     4.0   0.0   4.0      5.0  NaN  NaN
송태섭     3.0    10.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
# 여러 개의 행과 하나의 열을 선택하여 값 변경
df.loc[['강백호','채치수'], 'rebound'] = 4
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0      4.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     6.0     4.0   2.0   3.0      4.0  NaN  NaN
송태섭     6.0     6.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
df.iloc[[1,3], 4] = 3
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0      3.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     6.0     4.0   2.0   3.0      3.0  NaN  NaN
송태섭     6.0     6.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경
df.loc[['채치수','송태섭'], ['point3', 'point2']]=0
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   1.0   2.0     10.0  NaN  NaN
서태웅     9.0    18.0   6.0   2.0      5.0  NaN  NaN
채치수     0.0     0.0   0.0   4.0      5.0  NaN  NaN
송태섭     0.0     0.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
df.iloc[[3,4], [0,1]] = 6
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   1.0   2.0     10.0  NaN  NaN
서태웅     9.0    18.0   6.0   2.0      5.0  NaN  NaN
채치수     6.0     6.0   0.0   4.0      5.0  NaN  NaN
송태섭     6.0     6.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경(슬라이싱)
df.loc['강백호':'채치수', 'ft':'rebound'] = 1
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   1.0   1.0      1.0  NaN  NaN
서태웅     9.0    18.0   1.0   1.0      1.0  NaN  NaN
채치수     6.0     6.0   1.0   1.0      1.0  NaN  NaN
송태섭     6.0     6.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
df.iloc[1:4, 2:5] = 2
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0      2.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     6.0     6.0   2.0   2.0      2.0  NaN  NaN
송태섭     6.0     6.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
# 다른 값으로 변경
# 하나의 행과 여러 개의 열을 선택하여 값 변경
df.loc['채치수', ['point2', 'foul']] = [10, 4]
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0      2.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     6.0    10.0   2.0   4.0      2.0  NaN  NaN
송태섭     6.0     6.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
 # 튜플 문법 (대괄호 소괄호 생략해서 한번에 할당)
 df.loc['채치수', ['point2', 'foul']] = 2, 1
 print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0      2.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     6.0     2.0   2.0   1.0      2.0  NaN  NaN
송태섭     6.0     6.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
df.iloc[3,[1,3]] = [4,3]
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0      2.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     6.0     4.0   2.0   3.0      2.0  NaN  NaN
송태섭     6.0     6.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
# 여러 개의 행과 하나의 열을 선택하여 값 변경
df.loc[['강백호','채치수'], 'rebound'] = [10, 5]
print(df)

In [ ]:
df.iloc[[1,3], 4] = [12, 7]
print(df)

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경
df.loc[['채치수','송태섭'], ['point3', 'point2']]=[0, 8], [9, 8]
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0     12.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     0.0     8.0   2.0   3.0      7.0  NaN  NaN
송태섭     9.0     8.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
df.iloc[[3,4],[0,1]] = [1, 4], [3,2]
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0     12.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     1.0     4.0   2.0   3.0      7.0  NaN  NaN
송태섭     3.0     2.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

### 행과 열 위치 바꾸기

In [ ]:
print(df)

     point3  point2    ft  foul  rebound    1    3
정대만    24.0     6.0   3.0   2.0      1.0  NaN  NaN
강백호     3.0     4.0   2.0   2.0     12.0  NaN  NaN
서태웅     9.0    18.0   2.0   2.0      2.0  NaN  NaN
채치수     1.0     4.0   2.0   3.0      7.0  NaN  NaN
송태섭     3.0     2.0   6.0   3.0      1.0  NaN  NaN
합계     78.0    76.0  32.0  18.0     32.0  NaN  NaN
3       NaN     NaN   NaN   NaN      NaN  4.0  4.0

In [ ]:
print(df.T)

          정대만   강백호   서태웅  채치수  송태섭    합계    3
point3   24.0   3.0   9.0  1.0  3.0  78.0  NaN
point2    6.0   4.0  18.0  4.0  2.0  76.0  NaN
ft        3.0   2.0   2.0  2.0  6.0  32.0  NaN
foul      2.0   2.0   2.0  3.0  3.0  18.0  NaN
rebound   1.0  12.0   2.0  7.0  1.0  32.0  NaN
1         NaN   NaN   NaN  NaN  NaN   NaN  4.0
3         NaN   NaN   NaN  NaN  NaN   NaN  4.0

In [ ]:
print(df.transpose())

          정대만   강백호   서태웅  채치수  송태섭    합계    3
point3   24.0   3.0   9.0  1.0  3.0  78.0  NaN
point2    6.0   4.0  18.0  4.0  2.0  76.0  NaN
ft        3.0   2.0   2.0  2.0  6.0  32.0  NaN
foul      2.0   2.0   2.0  3.0  3.0  18.0  NaN
rebound   1.0  12.0   2.0  7.0  1.0  32.0  NaN
1         NaN   NaN   NaN  NaN  NaN   NaN  4.0
3         NaN   NaN   NaN  NaN  NaN   NaN  4.0

## 인덱스 활용

In [ ]:
import pandas as pd

In [ ]:
sd = {
    "이름": ["정대만", "강백호", "채치수"],
    "키": [184, 189, 193],
    "나이": [19, 17, 19],
    "득점": [28, 1, 20],
}
print(sd)

{'이름': ['정대만', '강백호', '채치수'], '키': [184, 189, 193], '나이': [19, 17, 19], '득점': [28, 1, 20]}

In [ ]:
df = pd.DataFrame(sd)
print(df)

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20

## 특정 열을 행 인덱스로 설정

In [ ]:
print(df)
df_new = df.set_index('이름') # '이름'이라는 열을 인덱스로 사용하게 됨
print(df_new)
# 원래 행 인덱스(정수)가 없어지고 이름 열이 행 인덱스가 됨

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20
       키  나이  득점
이름
정대만  184  19  28
강백호  189  17   1
채치수  193  19  20

In [ ]:
print(df_new)
df_new2 = df.set_index('키') # 키 열을 인덱스로 사용
print(df_new2)
# 키 열이 행 인덱스가 되고 , 행 인덱스였던 이름 열이 다시 열로 돌아옴

       키  나이  득점
이름
정대만  184  19  28
강백호  189  17   1
채치수  193  19  20
      이름  나이  득점
키
184  정대만  19  28
189  강백호  17   1
193  채치수  19  20

In [ ]:
# 여러 개의 열을 행 인덱스로 설정
print(df)
df_new = df.set_index(['이름', '키'])
print(df_new)

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20
         나이  득점
이름  키
정대만 184  19  28
강백호 189  17   1
채치수 193  19  20