<a href="https://colab.research.google.com/github/Dinoryong/hanaro01/blob/main/0515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list_1 = [1,2,3,4]
list_2 = [7,8,9]

# 추가 = 뒤에 추가 = 요소(개별값)
list_1.append(5)
print(list_1)

[1, 2, 3, 4, 5]

In [ ]:

# 추가 = 중간에 추가 = 원하는 위치(인덱스 번호)에 추가
list_1.insert(3,6) # 인덱스 3번 위치에 4라는 값 (요소) 추가
print(list_1) # 파괴적 처리

[1, 2, 3, 6, 4, 5]

In [ ]:
# 추가 = + 연결 & 파괴적 처리
list_1.extend(list_2)
print(list_1) # 파괴적 처리

[1, 2, 3, 6, 4, 5, 7, 8, 9]

In [ ]:
# 제거
# 인덱스 번호로 제거
# del 키워드 = delete
del list_1[2]
print(list_1)

[1, 4, 7, 8, 9]

In [ ]:
# pop 함수
list_1.pop(1)
print(list_1)

[1, 9]

In [ ]:
# 값으로 제거
# remove 함수

list_1.remove(7)
print(list_1)

ValueError: ignored

In [ ]:
# 리스트 안의 모든 요소 제거 = 비우기 = 리스트 구조 살아있음
list_1.clear()
print(list_1)

[]

## 정렲

In [ ]:
# 오름차순
score = [75, 55,40,90,100]
score.sort()
print(score)
# 내림차순
score.sort(reverse=True)
print(score)

[40, 55, 75, 90, 100]
[100, 90, 75, 55, 40]

In [ ]:
# in & not in
print(75 in score)
print(0 in score)
print(75 not in score)
print(0 not in score)

True
False
False
True

In [ ]:
# for 반복문
for i in range(10):
  print(i) # [0,1,2,3,4,5,6,7,8,9]
  print("반복") # 10번 반복

In [ ]:
for i in range(1,10):
  print(i) # [1,2,3,4,5,6,7,8,9]
  print("반복") # 9번 반복

1
반복
2
반복
3
반복
4
반복
5
반복
6
반복
7
반복
8
반복
9
반복

In [ ]:
for i in range(1,10,2):
  print(i) # [1,3,5,7,9]
  print("반복") # 5번 반복

1
반복
3
반복
5
반복
7
반복
9
반복

In [ ]:
# 리스트로 반복문
list_a = [1,2,3] # 1차원
list_b = [[1,2,3],[4,5,6]] # 2차원

In [ ]:
# 3개의 요소를 가지고 있어서 3번 반복
for i in list_a:
  print(i) # 3번 반복

1
2
3

In [ ]:
# 2 개의 요소를 가지고 있어서 2번 반복
# 여전히 리스트 형태로 출력
for i in list_b:
  print(i) # 2번 반복

[1, 2, 3]
[4, 5, 6]

In [ ]:
# 
for i in list_b:
  for j in i:
    print(j) # 6번 반복

1
2
3
4
5
6

In [ ]:
list_c = [[1,2,3],[4,5,6],7]

In [ ]:
for i in list_c:
  print(i)
  for j in i:
    print(j)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
7

TypeError: ignored

In [ ]:
for i in list_c:
  if type(i) == list:
    for j in i:
      print(j)
    else:
      print(i)

## 딕셔너리

In [ ]:
# 리스트와 딕셔너리 비교
# 딕셔너리 생성
sd_dic = {
    "이름": "정대만",
    "나이":19,
    "키": 183,
    "몸무게" : 70
}

# 리스트
sd_list =["정대만",19,183,70]

In [ ]:
# 이름 보기
print(sd_list[0])
print(sd_dic["이름"])

정대만
정대만

In [ ]:
# 값 변경
sd_dic["키"] = 185
print(sd_dic)

{'이름': '정대만', '나이': 19, '키': 185, '몸무게': 70}

In [ ]:
# sd_dic{"키"} <= 이렇게 실수하지 말 것

In [ ]:
# 여러 개의 값을 가지는 딕셔너리 생성
bs = {
    "선수" : ["채치수", "정대만","송태섭","강백호","서태웅"],
    "감독" : ["안감독"],
    "매니저" : ["한나"]
}
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['한나']}

In [ ]:
bs["선수"]

['채치수', '정대만', '송태섭', '강백호', '서태웅']

In [ ]:
bs["선수"][1]

'정대만'

In [ ]:
# 값 변경
bs["매니저"][0] = "소연"
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연']}

In [ ]:
# 새로운 키와 값 ㅜ가
# 하나의 값
bs["상태딤"]="산아ㅏㅜ"
print(bs)

NameError: ignored

In [ ]:
# 존재하지 않는 키 사용할 때 발생
# 값 보기
bs["상대팀"]

KeyError: ignored

In [ ]:
# 존재하지 않는 키와 값 제거
del bs["상대팀""]

SyntaxError: ignored

## NameError

In [ ]:
a = { 이름 : "강백호"}
print(a)

NameError: ignored

In [ ]:
# 에러 수정 = 키가 문자열이면 따옴표로 묶어줘야 함
a = {"이름": "강백호"}
print(a)

{'이름': '강백호'}

## in 연산자

In [ ]:
# 찾고 싶은 키
"선수" in bs

True

In [ ]:
"선생님" in bs

False

In [ ]:
# 딕셔너리의 키 존재 여부 알려주는 프로그램
key = input("찾고 싶은 키를 입력하세요")
if key in bs:
  print("존재하는 키입니다. 해당 값은 ", bs[key])
else:
  print("존재하지 않는 키입니다")

찾고 싶은 키를 입력하세요선생님
존재하지 않는 키입니다

## 값을 보여주는 함수

In [ ]:
# 존재하는 키로 값 보기
bs["감독"]

['안감독']

In [ ]:
# 존재하지 않는 키로 값 보기 = KeyErro
bs["감독님"]

KeyError: ignored

In [ ]:
# 존재하지 않는 키로 값 보기 = 에러 없이 결과가 없다는 내용
bs.get("감독")

['안감독']

In [ ]:
value = bs.get("감독님")
print(value)

None

## 반복문
### 딕셔너리 만들기

In [ ]:
sd_dic = {
    "이름": "정대만",
    "나이":19,
    "키": 183,
    "몸무게" : 70
}

In [ ]:
# 반복문
for i in sd_dic:
  #print(i) # 키가 나온다 
  print(sd_dic[i]) # 키에 대한 값이 나온다

이름
정대만
나이
19
키
183
몸무게
70

In [ ]:
character = {
    "name": "정대만",
    "number": 14,
    "records": {
        "three_point": 24,
        "rebound": 1
    },
    "schools": [
        "무석중", "죽산고"
    ]
}

In [ ]:
for i in character:
  print(character[i])

정대만
14
{'three_point': 24, 'rebound': 1}
['무석중', '죽산고']

In [ ]:
for i in character:
  if type(character[i]) == dict:
    for j in character[i]:
      print(character[i][j])
  elif type(character[i]) == list:
    for k in character[i]:
      print(k)
  else:
    print(character[i])

정대만
14
24
1
무석중
죽산고

In [ ]:
# 매개변수는 정수형이어야 함
n = 20
range(n)

range(0, 20)

In [ ]:
# float형 이기 때문에 에러 발생
range(n/2)

TypeError: ignored

In [ ]:
# 나머지
range(n % 6)

range(0, 2)

In [ ]:
# 몫
range(n // 2)

range(0, 10)

## 리스트와 범위로 반복문

In [ ]:
# 인덱스 번호와 값을 동시에 출력
list_a = [21,34,11,5,67]

In [ ]:
print(range(len(list_a)))
print(list(range(len(list_a))))

range(0, 5)
[0, 1, 2, 3, 4]

In [ ]:
for i in range(len(list_a)):
  print("인덱스", i, "값", list_a[i])

인덱스 0 값 21
인덱스 1 값 34
인덱스 2 값 11
인덱스 3 값 5
인덱스 4 값 67

## 역반복문

In [ ]:
# 역순으로 반복
for i in range(5, 0, -1):
  print(i) # 5번 반복

5
4
3
2
1

In [ ]:
for i in range(5,0,-2):
  print(i) # 3번 반복

5
3
1

In [ ]:
for i in reversed(range(1,6)):
  print(i)

5
4
3
2
1

## 반복문 while

In [ ]:
# 무한반복
while True:
  print("언제 끝나")

In [ ]:
while True:
  print("언제 끝나", end="")

## while 문으로 for 문처럼 사용

In [ ]:
# 숫자를 0 ~ 9 까지 출력
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# while 문으로 재현
i = 0
while i < 10:
  print(i)
  i += 1

### 값이 있는 동안에 반복

In [ ]:
list_a = [1,2,3,2,4,2,5]
value = 2
while value in list_a:
  list_a.remove(value)

print(list_a)

[1, 3, 4, 5]

## 시간 기반으로 반복

In [ ]:
import time
number = 0
target = time.time() + 3
while time.time() < target:
  number += 1
print(number)

12374589

In [ ]:
#@title ### break / continue 
### break / continue

In [ ]:
i = 0
while True:
  print(i)
  i += 1
  yn = input("종료할까요 ? (종료를 원하시면 Y나 y를 입력하세요)> ")
  if yn in ["Y", "y"]:
    print("반복 종료")
    break

0
종료할까요 ? (종료를 원하시면 Y나 y를 입력하세요)> n
1
종료할까요 ? (종료를 원하시면 Y나 y를 입력하세요)> no
2
종료할까요 ? (종료를 원하시면 Y나 y를 입력하세요)> nnn
3
종료할까요 ? (종료를 원하시면 Y나 y를 입력하세요)> nnn
4
종료할까요 ? (종료를 원하시면 Y나 y를 입력하세요)> Y
반복 종료

In [ ]:
# 현재 반복을 생략하고 다음 반복으로 
# continue
list_a = [100,20,150,50,200]
for i in list_a:
  if i < 100:
    continue
  print(i)

100
150
200

## 문자열, 리스트, 딕셔너리와 관련된 함수

In [ ]:
list_a = [1,2,3,4,5]
print(min(list_a))

1

In [ ]:
list_a = [1,2,3,4,5]
print(max(list_a))

5

In [ ]:
list_a = [1,2,3,4,5]
print(sum(list_a))

15

In [ ]:
# 역순
list_a = [1,2,3,4,5]
list_b = reversed(list_a)
print(list_a)
print(list_b) # 이터레이터 객체
print(list(list_b))

# 역반복문
for i in reversed(list_a):
  print(i)

[1, 2, 3, 4, 5]
<list_reverseiterator object at 0x7f5e2dee3a90>
[5, 4, 3, 2, 1]
5
4
3
2
1

In [ ]:
# 인덱스와 값을 동시에 출력 => 함수로 해결

list_a = [21,34,11,5,67]

In [ ]:
# 1) 리스트
i = 0
for j in list_a:
  print("인덱스", i, "값", j)
  i += 1

인덱스 0 값 21
인덱스 1 값 34
인덱스 2 값 11
인덱스 3 값 5
인덱스 4 값 67

In [ ]:
# 2) 리스트 & 범위
for i in range(len(list_a)):
  print("인덱스",i,"값",list_a[i])

인덱스 0 값 21
인덱스 1 값 34
인덱스 2 값 11
인덱스 3 값 5
인덱스 4 값 67

In [ ]:
# 3) enumerate 함수
list(enumerate(list_a))

[(0, 21), (1, 34), (2, 11), (3, 5), (4, 67)]

In [ ]:
for i, j in enumerate(list_a):
  print("인덱스",i,"값",j)

인덱스 0 값 21
인덱스 1 값 34
인덱스 2 값 11
인덱스 3 값 5
인덱스 4 값 67

In [ ]:
# 4) items 함수 with 딕셔너리
# 키와 값을 동시에 출력
sd_dic = {
    "이름": "정대만",
    "나이": 19,
    "키": 183,
    "몸무게": 70
}

sd_dic.items()

dict_items([('이름', '정대만'), ('나이', 19), ('키', 183), ('몸무게', 70)])

In [ ]:
for i, j in sd_dic.items():
  print("키",i,"값",j)

키 이름 값 정대만
키 나이 값 19
키 키 값 183
키 몸무게 값 70

## 리스트 내포

In [ ]:
list_a = []
list_b = []
for i in range(1,6):
  list_a.append(i)
  list_b.append(i ** 2)
print(list_a);print(list_b)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [ ]:
# 리스트 내포로 재현
list_c = [i ** 2 for i in range(1,6)]
print(list_c)

[1, 4, 9, 16, 25]

In [ ]:
# 리스트 내포에 조건문 추가
# 과일만 리스트로 저장
list_a = ["사과", "참외", "수박", "토마토"]
fruit = [i # 표현식 (값 표현)
         for i in list_a # 반복문
         if i != "토마토" ] # 조건문
print(fruit)

['사과', '참외', '수박']